.setPassw {
  height: 100%;
}
.setPassw .psHeader {
  height: 50px;
  width: 100%;
  background: #f0f0f0;
}
.setPassw .psHeader p {
  font-size: 14px;
  height: 100%;
  display: flex;
  padding-left: 20px;
  justify-content: left;
  align-items: center;
  color: #777777;
}
.setPassw .setMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
.setPassw .setMain .form-group {
  text-align: left;
  margin-bottom: 10px;
  width: 90%;
}
.setPassw .setMain .form-group label {
  font-size: 14px;
  color: #333333;
  font-weight: 700;
}
.setPassw .setMain .form-group input {
  margin-top: 5px;
}
