/* .App {
  text-align: center;
  overflow: hidden;
}
*{} */

/* .NavMenu {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.NavMenuItem {
  width: 24vw;
  position: relative;
}
.NavMenuIcon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.NavMenuItem .NavMenuItemText {
  display: block;
  height: 37px;
  font-weight: 600;
  margin-top: 20px;
} */
* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.NavMenu {
  /* display: flex;
  flex-direction: row; */
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  z-index: 999;
}
